.App {
  text-align: center;
  background-color: #131316;
}
.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 40px;
  margin-top: 6vh;
  margin-right: 25vw;
  margin-left: 25vw;
}

