.item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.item_dragged { 
    visibility: hidden;
}
.item_ingredient {
    box-sizing: border-box ;
    width: 536px;
}