.ingridients_modal {
    width: 600px;
    height: 912px;
    border-radius: 25px;
    text-align: left;
}
 .ingridients_container {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 900px;
    margin-top: 1em;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
   
} 

.ingridients_container::-webkit-scrollbar {
    width: 12px; /* Adjust scrollbar width */
}

.ingridients_container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
}

.ingridients_container::-webkit-scrollbar-thumb {
    background: #888; /* Thumb color, change as needed */
    border-radius: 6px; /* Optional: Adds rounded corners to the scrollbar thumb */
}