  .main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
  }
  .outletMain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 60px;
    margin-top: 6vh;
    margin-right: 25vw;
    margin-left: 25vw;
  }
  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .nav_item {
    height: 60px;
    justify-content: center;

  }
  .nav_item > a {
    text-decoration: none; 
    color: inherit;
  }
  .nav_section {
    padding-top: 10vh;
  }

  .nav_section {
    min-width: 500px;
    margin-left: 15vw;
    
  }
  .list_menu {
    display: flex;
    margin: 0 ;
    flex-direction: column;
    align-items: left;
    list-style: none;
  }
  .description_container {
    margin-top: 80px;
    width: 400px;
    margin-left: 17vw ;
  }
