.ingredient_details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.ingredient_image {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ingredient_name {

}
.ingredient_compositions {
    display: flex;
    justify-content: space-evenly;

}